*,
*::before,
*::after{
    box-sizing: border-box;
}


*{
    padding: 0;
    margin: 0;
}

.sqr-box{
    border: 1px solid black;
}

button{
    margin: 5px;
    padding: 2px 10px;
    width: 100px;
    height: 50px;
}

#container{
    margin: 100px;
    height: 502px;
    width: 502px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}



